# 7.1.1 Using EVregistry, Write a query to select the ModelYear, Make, and Model off all of the vehicles in the registry
-- SELECT ModelYear, Make, Model
-- FROM EVRegistry;

# 7.1.2 Using the EVRegistry table, Write a query that lists all of the unique types of EV's. your reult set should have one column, ElectricVehicleType
-- SELECT DISTINCT ElectricVehicleType
-- FROM EVRegistry

# 7.1.3 Using the EVRegistry, Write a query that shows all of the information on Battery Electric Vehicles (BEV) that are in the registry
-- SELECT *
-- FROM EVRegistry
-- WHERE ElectricVehicleType = 'BEV';

# 7.1.4 Using the EVRegistry, wirte a query that returns the Make and Model of all of the EV's that have a BaseMSRP between 20000 and 35000?
-- SELECT Make, Model
-- FROM evRegistry
-- WHERE BaseMSRP BETWEEN 20000 AND 35000

# 7.2.1 Using EVRegistry, write a query to find a record where the City attribute is NULL. Return all of the available columns
-- SELECT Make, Model, ModelYear, City
-- FROM EVRegistry
-- WHERE City IS NOT NULL;

# 7.2.2 Write a query to find the make, model, and ElectricVehicleType where the VIN number has that ends in '3E1EA1J'.
-- SELECT Make, Model, ElectricVehicleType
-- FROM EVRegistry
-- WHERE VIN like '%3E1EA1J';

# 7.2.3 Select the ModelYear, make, model, ElectricVehicleType, and range of the Tesla vehicles or cheverolet vehicles in the registry. Order the result set by Make and Model year in from newest to oldest
-- SELECT ModelYear, Make, Model, ElectricVehicleType, ElectricRange
-- FROM EVRegistry
-- WHERE (Make =  'TESLA' OR Make = 'CHEVROLET')
-- ORDER by Make, ModelYear DESC;

# 7.2.4 Using EVCharging, Write a query to find out how many many times those stations were used. Order them by the most used to the least used and limit the output to 5 records.
-- SELECT StationID, Count(*) as numUses
-- FROM EVCharging
-- GROUP BY StationID 
-- ORDER BY 2 DESC
-- LIMIT 5;

# 7.2.5 Using EVCharging, For the folks who charged longer than 0.5 hours, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively
-- SELECT userId, MIN(chargeTimeHrs) as 'minhours', MAX(chargeTimeHrs) as 'maxHours'
-- FROM EVCharging
-- WHERE chargeTimeHrs > 0.5 
-- GROUP BY userId
-- ORDER BY 2,3

# 7.3.1 Using EVCharging, Which day of the week has the highest average charging time? Round the answer to 2 decimal points.
-- SELECT UserId,Weekday, ROUND(SUM(chargeTimeHrs),2) as 'ChargingTime'
-- FROM EVcharging
-- WHERE weekday = 'Wed'
-- GROUP BY UserID, weekday
-- ORDER BY ChargingTime DESC;

# 7.3.2 Using, EV charging, Find the total power consumed from charging EV's by each User. Return the userId and name the calculated column, totalPower. Round the answer to 2 deciaml points and list the out put in highest to lowest order. Limit the order to the top 15 users
-- SELECT UserId, ROUND(SUM(kwhTotal),2) as 'totalPower'
-- FROM EVcharging
-- GROUP BY UserID
-- ORDER BY totalPower DESC
-- LIMIT 15;

# 7.3.3 Using dimfacility and factCharge, write a query to find out which type of facility (GROUP BY) has the most amount of charging stations. Return type Facility and name the calculated column numStation. Order the result set from highest to lowest number of charging stations.
SELECT df.typeFacility as ‘typeFacility’, count(*) as ‘numstations
FROM factCharge fc
Inner JOIN dimFacility df
ON fc.facilityID = df.FacilityKey
GROUP BY df.typeFacility
ORDER BY 2 DESC;

# 7.3.4 In your own words, Briefly explain Primary Keys and Foreign Keys.
- A primary key is a is a column in a table that include a unique value which can be used to identify each and every row of a table distinctively.
- Foreign Key is a column in a table whose values match the values of a Primary Key column in another table.

# 7.3.5 Using EV Charging, For the folks who charged longer than one hour, show the min and max of the charging time for each user. Your output columns should be userid, minTime, and maxTime. Order this result set by the last two columns respectively. HINT: USE HAVING
-- SELECT userId, MIN(chargeTimeHrs) as 'minhours', MAX(chargeTimeHrs) as 'maxHours'
-- FROM EVCharging
-- GROUP BY userId
-- HAVING SUM(chargeTimeHrs) > 1 
-- ORDER BY 2,3;